/* Admin Page */

.another-read-admin{
    display: flex;
    flex-direction: row;
}

.another-read-activity-settings{
    max-width: 650px;
}

.another-read-content{
    width: 50%;
    margin-top: 15px;
}

.another-read-banner{

    background-color: white;
    width: 400px;
}

.banner-content{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 25px;
}

.branding-img{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 60px;
}

.content-img{
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .another-read-admin{
        flex-direction: column;
    }
    .another-read-content{
        width: 100%;
    }

}
    




/* Block editor */

.activity-block-notice{
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 25px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.activity-block-notice h3{
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.activity-block-notice p{
    margin-top: 5px;
    font-size: 20px;
}
